body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/main_bg01.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
    list-style: none;
}


/*navbar*/
.navbar {
    background-color: #04040400 !important;
    color: #e1e1e1;
    padding: 20px 0;
}

.logo h1 {
    font-family: "Anton", sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    color: #fff;
}

.logo h1 img {
    height: 32px;
}

@media (max-width: 992px) {

    .logo h1,
    .logo h1 img {
        font-size: 28px;
    }

    .logo h1 img {
        height: 28px;
    }
}

@media (max-width: 768px) {

    .logo h1,
    .logo h1 img {
        font-size: 24px;
    }

    .logo h1 img {
        height: 24px;
    }
}


.container-fluid {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.collapse {
    display: flex;
    justify-content: flex-end;

}

.nav-link {
    color: #e1e1e1;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.8s ease;
    margin-right: 20px;
}

.menu_button {
    color: #ffff;
    font-size: 24px;
}

.menu_button:hover {
    color: #35e888;
}

/*
.nav-link:hover {
    color: #18d26e;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #18d26e;
}
*/
.nav-link::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: #18d26e;
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: #18d26e;
    font-weight: bold;
}

.nav-link:hover::after {
    width: 25px;
}

section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
}

.contact {
    margin: 30px 0;
}

.container {
    position: relative;
}

.row {
    width: 100%;
    justify-content: space-between;
    background-color: #040404ce;
    padding: 0;
    margin: 0;
}

.row-pm {
    padding: 20px;
    border: solid 1px #35e888;
}

/* Designed*/
.Designed {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 999999;
}

@media (max-width: 992px) {
    .Designed {
        text-align: center;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8);
    }
}

.Designed a {
    color: #18d26e;
    transition: 0.3s;
}

.Designed a:hover {
    color: #fff;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.slide-up {
    opacity: 0;
    transform: translateY(100px);
    animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon-box {
    text-align: center;
    background: rgba(204, 204, 204, 0.1);
    padding: 80px 20px;
}

.service-container {
    padding: 30px;
    margin: 0px 71px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  